<html>
    <body
        <div style="background-color: rgb(163, 145, 145);
        color: rgb(0, 0, 0);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);">
            <h1>Sign Language Translation</h1>
            <div style="border: 5px solid;
            border-radius: 10px;">
                <img src="{{ url_for('infer') }}" height="85%">
            </div>
            <h4>Made by <a href="https://github.com/AbinashChetia" target="_blank">Abinash Chetia</a></h4>
        </div>
        </body>
</html>